#address {
  color: red;
  width: 40%;
}

#address form {
  display: flex;
  flex-direction: column;
}

#address input {
  margin: 10px 0;
  padding: 2px;
  height: 40px;
  font-size: 15px;
}

#address button {
  height: 40px;
  background-color: #313944;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 17.5px;
  margin-top: 10px;
}

#address button:hover {
  cursor: pointer;
  border: 1px solid #313944;
  background-color: #fff;
  color: #313944;
}