#citizens {
  width: 40%;
}

#citizens h1 {
  margin: 12.5px 0;
}

#citizens ul {
  list-style: none;
  border: grey solid 1px;
  text-align: center;
  border-radius: 5px;
}

#citizens li:not(:last-of-type) {
  border-bottom: grey solid 1px;
}

#citizens li:hover {
  cursor: pointer;
  background-color: #313944;
  transform: scale(1.1);
  border-radius: 5px;
}

#citizens li a {
  display: block;
  text-decoration: none;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#citizens li a:hover p {
  color: #fff;
}
